/* Default Style */

/* Vazir Font */
@font-face {
  font-family: 'Vazir';
  src: url('../fonts/Vazir-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Vazir-Bold.eot') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/Vazir-Bold.woff2'),
    /* Super Modern Browsers */ url('../fonts/Vazir-Bold.woff') format('woff'),
    /* Pretty Modern Browsers */ url('../fonts/Vazir-Bold.ttf')
      format('truetype'); /* Safari, Android, iOS */
}

/* Lale Zar Font */
@font-face {
  font-family: 'Lalezar';
  src: url('../fonts/Lalezar-Regular.ttf'); /* IE9 Compat Modes */
}
html {
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Vazir';
  word-spacing: -1px;
}
a {
  text-decoration: none !important;
}
/* End */

/* Auth Style */
.bg-auth {
  background-image: url('../images/bg-auth.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  min-height: 100vh;
}

.content-auth {
  display: inline-block;
  min-width: 40%;
  text-align: center;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 0 1rem;
}

.title-auth {
  font-size: 2em;
  padding: 2rem 0 1.5rem 0;
  font-family: 'Lalezar';
  border-bottom: #fc00ff 2px solid;
}

.form-control-auth {
  width: 100%;
  height: 3rem;
  border: 1px solid #e0e0e0;
  background: #f7f7f7;
  border-radius: 0.5rem;
  padding: 0 2rem;
  margin-bottom: 1rem;
  color: #333333;
}

.submit-auth {
  width: 100%;
  height: 3rem;
  border: 1px solid #fc00ff;
  background: #fc00ff;
  border-radius: 0.5rem;
  padding: 0 2rem;
  margin-bottom: 2rem;
  color: #fff;
  transition: all 0.5s;
}

.submit-auth:hover {
  transition: all 0.5s;
  border: 1px solid #00dbde;
  background: #00dbde;
}

.valid-message {
  color: red;
  text-align: right;
}
/* End */

/* Header Style */
.header-box {
  padding: 0 1rem;
  margin: 1rem 0;
  color: #fff;
}

.header-box:hover {
  color: #000;
  transition: all .5s;
}
/* End */

/* Home Style */
.bg-home {
  background: linear-gradient(90deg, #dd2476, #ff512f);
  height: 100%;
}

/* End */

/* Footer Style */
.bg-footer {
  background-color: #fff;
  min-height: 1rem;
  max-height: 10rem;
  text-align: center;
  transition: all 1s;
}

.copy-footer {
  color: #000;
  padding: 0.8rem 0;
  font-size: 14px;
}

.link-footer {
  color: #000;
  transition: all 0.5s;
}

.link-footer:hover {
  color: #00aade;
  transition: all 0.5s;
}
/* End */
